hr{
    margin: 0px;
}

.pds{
    padding: 0px 25px;
}
.heigh550{
    height: 550px;
}
.box-orange {
    font-size: 19px;
    position: absolute;
    /* background: orange; */
    width: 90%;
    height: 51px;
    /* left: 5px; */
    /* top: 5px; */
    font-weight: 700;
    bottom: 2px;
    line-height: 50px;
}
.box-orange1 {
    position: absolute;
    right: 10px;
    font-size: 17px;
    font-weight: 700;
    margin: 15px 0px;
    padding-right: 0px;
  }
.scrollable-content {
    overflow-y: auto;
}
.scrollable-content::-webkit-scrollbar {
    width: 0px;
}
.nutthanhtoan{
    border: 1px solid #0f64a1;
    color: #0f64a1;
    padding: 6px;
    font-weight: 600;
    font-size: 15px;
    /* border-radius: 13px; */
    margin: 8px 0;
}
.nutthanhtoan:hover{
    background-color: #0f64a1;
    color: #ffffff;
}
.nutpay{
    margin-top: 10px;
}