<!DOCTYPE html>
<html>
<head>
	<title>Notification cực ngầu, cực chất, cực trất'ss</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />

	<script type="text/javascript">
		function notify() {
			$.notify("Access granted", "success");
		}
	</script>
</head>

<body>
<a href="#" onclick="notify()">Notify</a>
</body>
</html>